html
  head
    title Kielx blog
- var param = params.postname
  body
    h1 Welcome to Kielx's blog!
    p= posts[param]['content']
    br
    p By #{posts.first_post.author}, posted on #{posts.first_post.added}
    ul
      each post in posts
        li <a href=#{post.titleslug}> #{post.title}
    
    p= param