extends layout.pug



block content
    - var param = params.postname
    .page
      each post in posts
        if post['newSlug'] == param
          h2= post.title
          br
          p!= markdown(post['content'])
          hr
          br
          h5= `Added by ${post.author} on ${post.added.toGMTString()}`
          br
          form#editPost(action='/posts/change/', method='get', name='changePost')
            button.btn.btn-warning(type='submit', name='post', value=post.title) Edit post
          br
          // Button trigger modal
          button.btn.btn-danger(type='button', data-toggle='modal', data-target='#deletePostModal')
            | Delete post
          // Modal
          #deletePostModal.modal.fade(tabindex='-1', aria-labelledby='deletePostModal', aria-hidden='true')
            .modal-dialog
              .modal-content
                .modal-header
                  h5#deletePostModalLabel.modal-title Delete post permanently?
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                  =`Are you sure that you want to delete post ${post.title}?`
                .modal-footer
                  button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                  form#deletePost(action='/posts/delete', method='post', name='deletePost')
                    button.btn.btn-danger(type='submit', name='title', value=post.title) Delete post     
     


          
